In [1]:
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset("mpg") # will return a dataframe type object
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
print(f"Number of rows = {df.shape[0]} and number of columns = {df.shape[1]} of the respective dataset")

Number of rows = 398 and number of columns = 9 of the respective dataset

In [10]:
# Taking random sample
random_sample = df.sample(10)
random_sample

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
233,29.0,4,97.0,78.0,1940,14.5,77,europe,volkswagen rabbit custom
209,19.0,4,120.0,88.0,3270,21.9,76,europe,peugeot 504
115,15.0,8,350.0,145.0,4082,13.0,73,usa,chevrolet monte carlo s
162,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
319,31.3,4,120.0,75.0,2542,17.5,80,japan,mazda 626
184,25.0,4,140.0,92.0,2572,14.9,76,usa,capri ii

In [11]:
random_sample_2 = df.sample(3)
random_sample_2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
352,29.9,4,98.0,65.0,2380,20.7,81,usa,ford escort 2h
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ

In [13]:
np.arange(0, len(df), step = 5) # np.arange(start, stop, step) ---> created am aray

array([  0,   5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,
        65,  70,  75,  80,  85,  90,  95, 100, 105, 110, 115, 120, 125,
       130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190,
       195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255,
       260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320,
       325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385,
       390, 395])

In [14]:
np.arange(0, len(df), step = 20)

array([  0,  20,  40,  60,  80, 100, 120, 140, 160, 180, 200, 220, 240,
       260, 280, 300, 320, 340, 360, 380])

df.iloc ---> property in pandas that allows integer-based indexing for selecting rows and columns in a dataframe

Select first row ----> print(df.iloc[0])

Select first 5 rows ---> print(df.iloc[:5])

Select specific rows (e.g., 0, 10, 20) ----> print(df.iloc[[0, 10, 20]])

Allows selection of both rows and columns :-

Select row 0 and column 1 ----> print(df.iloc[0, 1])

Select first 3 rows and first 2 columns ---> print(df.iloc[:3, :2])

In [15]:
# Selection specific rows based on array values from np.arange()

df.iloc[np.arange(0, len(df), 15)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
75,14.0,8,318.0,150.0,4077,14.0,72,usa,plymouth satellite custom (sw)
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
135,18.0,6,225.0,105.0,3613,16.5,74,usa,plymouth satellite sebring
150,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
165,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
195,29.0,4,85.0,52.0,2035,22.2,76,usa,chevrolet chevette
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
225,17.5,6,250.0,110.0,3520,16.4,77,usa,chevrolet concours
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
255,25.1,4,140.0,88.0,2720,15.4,78,usa,ford fairmont (man)
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
285,17.0,8,305.0,130.0,3840,15.4,79,usa,chevrolet caprice classic
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
315,24.3,4,151.0,90.0,3003,20.1,80,usa,amc concord
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
345,35.1,4,81.0,60.0,1760,16.1,81,japan,honda civic 1300
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt

In [16]:
df["origin"] # gives us the entire column

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
393       usa
394    europe
395       usa
396       usa
397       usa
Name: origin, Length: 398, dtype: object

In [17]:
df["origin"].unique() # gives us the unique values of the column "origin" as an array

array(['usa', 'japan', 'europe'], dtype=object)

df.groupby --> Pandas function to group a dataframe based on one or more columns. Commonly used in aggregations, summaries, and group-wise operations
Syntax - df.groupby(by) ----> by: the column(s) to group by
Examples - 
Group by "sex" and count the number of passengers ---> grouped = df.groupby("sex")["age"].count()

Group by "sex" and "class", then find mean age ---> grouped = df.groupby(["sex", "class"])["age"].mean()

Find the mean and median of age for each class ---> grouped = df.groupby("class")["age"].agg(["mean", "median"])

The group_keys parameter in df.groupby() controls whether the group labels (keys) should be included in the result as an index when performing group operations.  

When to Use group_keys=False:  
When you want to keep the original DataFrame format.  
When you don’t need hierarchical indexing.  
Useful for flattening the output after using apply().

In [18]:
prop_stratified_sampling = df.groupby("origin", group_keys=False ).apply(lambda x: x.sample(frac=0.25)) # groups the DataFrame (df) by the "origin" column the randomly selects 25% of the rows from each group.

C:\Users\VENKATA PRANEETH K\AppData\Local\Temp\ipykernel_18888\2723293038.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  prop_stratified_sampling = df.groupby("origin", group_keys=False ).apply(lambda x: x.sample(frac=0.25)) # roups the DataFrame (df) by the "origin" column the randomly selects 25% of the rows from each group.

In [19]:
prop_stratified_sampling.shape

(100, 9)

In [20]:
prop_stratified_sampling.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
77,22.0,4,121.0,76.0,2511,18.0,72,europe,volkswagen 411 (sw)
297,25.4,5,183.0,77.0,3530,20.1,79,europe,mercedes benz 300d
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
335,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
141,29.0,4,98.0,83.0,2219,16.5,74,europe,audi fox

In [22]:
prop_stratified_sampling["origin"].value_counts() # gives us the number of rows of each origin value

origin
usa       62
japan     20
europe    18
Name: count, dtype: int64

In [23]:
clusters = np.random.choice(df["model_year"], size = 2, replace=False)
# Selects 2 unique random values from the "model_year" column of df.
# Uses replace=False to ensure that the same value is not picked twice.
# Stores the result in clusters, which will be a NumPy array containing two randomly chosen years.

clusters

array([71, 81])

In [24]:
samples_based_on_cluster_values = df[df["model_year"].isin(clusters)]
samples_based_on_cluster_values

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
33,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
34,16.0,6,225.0,105.0,3439,15.5,71,usa,plymouth satellite custom
35,17.0,6,250.0,100.0,3329,15.5,71,usa,chevrolet chevelle malibu
36,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
37,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador
38,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala
39,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
41,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
46,22.0,4,140.0,72.0,2408,19.0,71,usa,chevrolet vega (sw)
47,19.0,6,250.0,100.0,3282,15.0,71,usa,pontiac firebird
48,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
49,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000
50,28.0,4,116.0,90.0,2123,14.0,71,europe,opel 1900
51,30.0,4,79.0,70.0,2074,19.5,71,europe,peugeot 304
52,30.0,4,88.0,76.0,2065,14.5,71,europe,fiat 124b
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
54,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
55,27.0,4,97.0,60.0,1834,19.0,71,europe,volkswagen model 111
56,26.0,4,91.0,70.0,1955,20.5,71,usa,plymouth cricket
338,27.2,4,135.0,84.0,2490,15.7,81,usa,plymouth reliant
339,26.6,4,151.0,84.0,2635,16.4,81,usa,buick skylark
340,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw)
341,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation
342,30.0,4,135.0,84.0,2385,12.9,81,usa,plymouth reliant
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
345,35.1,4,81.0,60.0,1760,16.1,81,japan,honda civic 1300
346,32.3,4,97.0,67.0,2065,17.8,81,japan,subaru
347,37.0,4,85.0,65.0,1975,19.4,81,japan,datsun 210 mpg
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
349,34.1,4,91.0,68.0,1985,16.0,81,japan,mazda glc 4
350,34.7,4,105.0,63.0,2215,14.9,81,usa,plymouth horizon 4
351,34.4,4,98.0,65.0,2045,16.2,81,usa,ford escort 4w
352,29.9,4,98.0,65.0,2380,20.7,81,usa,ford escort 2h
353,33.0,4,105.0,74.0,2190,14.2,81,europe,volkswagen jetta
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
355,33.7,4,107.0,75.0,2210,14.4,81,japan,honda prelude
356,32.4,4,108.0,75.0,2350,16.8,81,japan,toyota corolla
357,32.9,4,119.0,100.0,2615,14.8,81,japan,datsun 200sx
358,31.6,4,120.0,74.0,2635,18.3,81,japan,mazda 626
359,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
361,25.4,6,168.0,116.0,2900,12.6,81,japan,toyota cressida
362,24.2,6,146.0,120.0,2930,13.8,81,japan,datsun 810 maxima
363,22.4,6,231.0,110.0,3415,15.8,81,usa,buick century
364,26.6,8,350.0,105.0,3725,19.0,81,usa,oldsmobile cutlass ls
365,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon